<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container-404">
    <h1 class="box">Ops! we don't know what happened here</h1>
    <p>Sorry, we could not find your search</p>
    <a class="button" href="index.html" style="background-color: darkgrey"> Home
    </a>

</div>

<br>
<img alt=""
     src="https://i.redd.it/zqqvyy6rtll61.png" width="500px">

</body>
</html>